@import url();

html {
    height: 100%
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

section {
    font-family: 'Poppins', sans-serif;
}
#landing {
    background-color: lightskyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20vh;
    padding-top: 20vh;
}
#landing h1 {
    font-size:72px;
}

#landing p {
    margin-top: -9vh;
    font-weight: 500;
}

#skill {
    text-align: center;
    font-weight: 500;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: aliceblue;
}
#skill h2{
    text-align: center;
}

#skill .flex-container {
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}

.skill-box {
    background-color: white;
    border-radius: 10px;
    margin: 50px 30px;
    padding: 30px;
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: center;
    height: 100px;
    width: 100px;
    text-align: center;
}
.skill-box p {
    font-weight: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#project {
    text-align: center;
    padding-top: 5vh;
    padding-bottom: 10vh;
}

section .link {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
section .link a {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 200px;
    text-decoration: none;
    margin: 50px 30px 0px 30px;
    border-radius: 10px;
    font-weight: 700;
}

.link a:hover {
    background-color: lightskyblue;
}